.bd-masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.border-2 {
    border-style: solid;
    border-width: 2px;
    color: white;
    padding: 1px;
}

.primary {
    background-color: #6f42c1;
}
