.bd-masthead {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.bg-row1 {
    background-color: purple;
}
.bg-row2 {
    background-color: gray;
}
.bg-row3 {
    background-color: yellow;
}
.bg-row4 {
    background-color: red;
}
.bg-row5 {
    background-color: greenyellow;
}


