html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background: -webkit-linear-gradient(
        45deg,
        rgba(226, 226, 226, 1) 0%,
        rgba(209, 209, 209, 1) 65%,
        rgba(209, 209, 209, 1) 100%
    );

    /* background: -webkit-linear-gradient(45deg, rgba(227,227,227,1) 0%, rgba(201,158,162,1) 61%, rgba(201,158,162,1) 100%); */
}
.App {
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}
#root {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}
.d-block {
    display: block;
}
.margin-a {
    margin-right: 20%;
    margin-top: 5px;
}
.b-radius {
    border-radius: 15px;
    border: 2px solid #e20714;
}
.float-button {
    float: right;
    margin-right: 20%;
    margin-top: 10%;
}
.welcome {
    text-align: center;
    color: #fff;
}
.normal-font {
    font-size: 12px;
}
.margin-menu {
    padding: 3px 0 3px 12px;
    z-index: 2;
}

.margin-submenu {
    padding-left: 30px;
}

.margin-submenu:hover {
    background-color: #ea5542;
}
.height-svg {
    height: 15px;
    position: relative;
    left: 50%;
}
ul {
    text-decoration: none;
    list-style: none;
}

@media only screen and (max-width: 426px) {
    .d-flex {
        display: block;
    }
    .float-button {
        float: none;
    }
}
